PORT=8000
MONGODB_URI=mongodb+srv://pradum:pradum123@cluster0.l7nrooj.mongodb.net/?appName=Cluster0
CORS_ORIGIN=*

ACCESS_TOKEN_SECRET_KEY=CHAIaurCODE
ACCESS_TOKEN_EXPIRY_KEY=1d

REFRESH_TOKEN_SECRET_KEY=CODEbackend 
REFRESH_TOKEN_EXPIRY_KEY=7d